// 1. 前缀

@prefix: 'heima-ui';
@btnPrefix:~ '@{prefix}-btn';
@messageprefix:~ '@{prefix}-message';

// 2、色系

// highlight
@heima-ui-highlight-color: #f6f7fa;
@heima-ui-highlight-bg: #2980b9;
@heima-ui-highlight-border-color: #2980b9;

// default
@heima-ui-default-color: #222224;
@heima-ui-default-bg: #f6f7fa;
@heima-ui-default-border-color: #5e5f61;

//disabled
@heima-ui-disabled-color: #ababad;
@heima-ui-disabled-bg: #f6f7fa;
@heima-ui-disabled-border-color: #b6b7bd;

//字号

//圆角

// 定义变量
:root {
  --main-color: #2980b9;
  --black: #444;
  --bg: #fff;
  --light-bg: #fff;
  --light-color: #666;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

:root[data-theme='gray'] {
  --main-color: gray;
}
:root[data-theme='red'] {
  --main-color: red;
}

:root[data-theme='orange'] {
  --main-color: orange;
}

:root[data-theme='yellow'] {
  --main-color: yellow;
}

:root[data-theme='green'] {
  --main-color: green;
}

:root[data-theme='blue'] {
  --main-color: blue;
}

:root[data-theme='purple'] {
  --main-color: purple;
}
